/*Definindo cor de fundo e tamanho da página*/
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: grey;
    margin: 0;
    padding: 0;
}

/*Formatar o cabeçalho*/
header{
    background-color: black;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

/* Formatando o menu de navegação */
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-top: 0.5rem;
    background-color: black;
    gap: 1rem;
    border-bottom: 2px solid white;
    height: 35px;
}

/* Decoração dos itens do menu */
.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 9px 30px;
    border: 2px solid white;
    border-radius: 10px;
}

/* Estilo ao passar o mouse */
.menu ul li a:hover {
    background-color: white;
    color: #333;
}

/*Formatando o section dá pagina index*/
section {
    justify-content: center;
    text-align: center;
    padding: 8rem;
    gap: 5rem;
    font-size: large;
}

section p{
    text-align: left;
}

/*Formatar imagem e jogar a esquerda*/
.img{
    width: 450px;
    height: 450px;
    border-radius: 5%;
    border: 3px solid #fff;
}

/*Rodapé da página*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
    background-color: black;
    border: 2px solid white;
}

/*alinha a foto ao lado do texto sobre mim*/
.container{
    display: flex;
    align-items: center;
}

/*Formatar card da página meu contato*/
.meucontato{
    border: 2px solid white;
    padding: 5rem;
    margin: 0 auto;
    color: white;
    text-align: center;
}

/*Formatar botão de enviar*/
.enviar{
    background-color: black;
    color: white;
    padding: 9px 30px; 
    border: 2px solid white;
    border-radius: 10px;
    width: 9.5rem;
}

/*efeito do botão enviar igual o do menu*/
.meucontato button:hover {
    background-color: white;
    color: black;
}

.tamcaixa{
    width: 300px
}

.tamcaixamsg{
    width: 360px;
    height: 100px;
}

/*Formatação do conteúdo da página formação e portfolio*/
.form-port{
    padding-top: 5rem;
    margin-left: 15%;
    font-size: large;
}

/*Remover a decoração dos links da página portfólio*/
.none-port{
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/*padronizando o link com o menu da página*/
.none-port:hover{
    background-color: white;
    color: #333;
}

/* Ocultar o rodapé em telas menores */
@media screen and (max-width: 700px) {
    footer {
        display: none;
    }
}

/*Joga a foto acima do texto na página sobre mim*/
@media screen and (max-width: 1200px) {
    .container {
        display: inline;
        align-items: center;
    }

    /*Redimensiona a imagem para não ficar cortada na tela*/
    .img{
        width: 50%;
        height: 50%;
    }

    /*Ajustar o botões do menu para não quebrar ao redimensionar a tela*/
    .menu ul li a {
        padding: 9px 4px;
    }

    .menu ul {
        gap: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: small;
    }
    

    /*Ajustar o texto na página*/
    section, .form-port{  
        font-size: medium;
        margin-left: 5%;
        padding-right: 1rem;
    }

    section p{
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .tamcaixa{
        width: 200px
    }
    
    .tamcaixamsg{
        width: 260px;
        height: 100px;
    }
}
